<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">

    <!-- Masthead Avatar Image -->
    <img class="masthead-avatar mb-5" src="../assets/img/baseball.svg" alt="">

    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0">Baseball Umpires</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0">Game - Passion - Power</p>

  </div>
</header>
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">

      <!-- Portfolio Item 1 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://tshq.bluesombrero.com/bocaratonllfl" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="./assets/img/portfolio/brl1.png" alt="">
        </div>
        </a>
      </div>
      <!-- Portfolio Item 2 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://usabat.com" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./assets/img/portfolio/ub1.png" alt="">
          </div>
        </a>

      </div>
     

      <!-- Portfolio Item 3 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="http://dbnll.sportssignup.com/site/ClientSite/divisions/214774"
          target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./assets/img/portfolio/dbl1.jpg" alt="">
          </div>
        </a>
      </div>

      <!-- Portfolio Item 4 -->

      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://www.littleleague.org/" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./assets/img/portfolio/ll1.jpg" alt="">
          </div>
          
        </a>
       
      </div>
       <!-- Portfolio Item 5 -->
       <div class="col-md-6 col-lg-6">
          <a class="portfolio-item mx-auto" href="https://headsup.cdc.gov/" target="_blank">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="./assets/img/portfolio/cdc1.png" alt="">
            </div>
          </a>
        </div>



      <!-- Portfolio Item 6 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://www.wbll.us/" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./assets/img/portfolio/wbb1.png" alt="">
          </div>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
</section>