<!-- Masthead -->



<header class="masthead  text-white text-center"  [ngStyle]="{'background-image': 'url(' + bb + ')'}" >
  <!--[ngStyle]="{'background-image': 'url('+ makeTrustedImage(bb) + ')'}" bg-primary-->


  
  <div class="container d-flex align-items-center flex-column">
    
    <!-- Masthead Avatar Image -->
   
    <img class="masthead-avatar mb-5" [src]="sful" alt="">

  </div>
</header>
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">

      <!-- Portfolio Item 1 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://tshq.bluesombrero.com/bocaratonllfl" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" [src]="brl1" alt="">
          
        </div>
        <span  class="logoname">Boca Raton Little League</span>
        </a>
      </div>

      <!-- Portfolio Item 5 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://headsup.cdc.gov/" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="cdc1" alt="">
          </div>
          <span class="logoname">CDC Heads-Up Program</span>
        </a>
      </div>
     
     

      <!-- Portfolio Item 3 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="http://dbnll.sportssignup.com/site/ClientSite/divisions/214774"
          target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="dbl1" alt="">
          </div>
          <span class="logoname">Delray Beach Little League</span>
        </a>
      </div>

      <!-- Portfolio Item 4 -->

      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://www.littleleague.org/" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="ll1" alt="">
          </div>
          <span class="logoname">Little League Baseball</span>
        </a>
       
      </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item mx-auto" href="https://www.eastboyntonbeachlittleleague.com/" target="_blank">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img style="margin-left:70px; margin-top:23px" class="img-fluid" [src]="ebll" alt="">
            </div>
            <span class="logoname">East Boynton Beach Little League</span>
          </a>
        </div>

        <!-- Portfolio Item 2 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://usabat.com" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="ub1" alt="">
           
          </div>
          <span class="logoname"> USA Approved Bat List</span>
        </a>

      </div>



      <!-- Portfolio Item 6 -->
      <div class="col-md-6 col-lg-6">
        <a class="portfolio-item mx-auto" href="https://www.wbll.us/" target="_blank">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" [src]="wbb1" alt="">
          </div>
          <span class="logoname"> West Boynton Beach Little League</span>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
</section>