<div class="container su-container">
    <div *ngIf="isSuccess" class="alert alert-success" role="alert">
        Registration Successfull
    </div>
    <mat-card>
        <mat-card-title>
            <h5> Sign Up Form</h5>
        </mat-card-title>
        <mat-card-content>
            <div class="row">
                <div class="col-md-12">

                    <form [formGroup]="signupForm" (ngSubmit)="submit()" class="signup-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" formControlName="firstname">
                            <mat-error *ngIf="signupForm.controls.firstname.hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" formControlName="lastname">
                            <mat-error *ngIf="signupForm.controls.lastname.hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="signupForm.controls.email.hasError('email') && !signupForm.controls.email.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="signupForm.controls.email.hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Phone No." formControlName="phoneno">
                            <mat-error *ngIf="signupForm.controls.phoneno.hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <textarea [matTextareaAutosize]="true" matInput placeholder="Description" formControlName="description"></textarea>
                            <mat-hint>500 max</mat-hint>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="signupForm.invalid" type="submit"> Sign-Up</button>
                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>





</div>