.container-table{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
.table th,
.table td {
  padding: 2px !important;
  vertical-align: top !important;
  font-size:.65em;
//   border-color:#423b3bb3;
//   border-bottom: 0.1rem !important;

 
}
// .table td{
//     border-bottom: 0.4rem !important;
// }
.table-bordered {
    border: 0.04rem solid #dee2e6;
}
table .thead-dark th{
    columns: #000000;;
    background-color:#8ab0d8e0 !important
   
}

.red-cell {
    background-color: red
}
.schedulediv {
    background-color: green;
    margin-bottom: 1em;
}
.mat-raised-button{
    margin: 10px !important;
    line-height: 30px !important;
}
.example-full-width {
    width: 60%;
    margin-left: 25px;

  }
.rained{
  background-color: skyblue;
}
.deny{
background-color: red;
}
.satText{
    color: #c2c226;
    font-weight: bold;
}