<div class="container-table">
  <table class="table table-bordered">
    <thead class="thead-dark ">
      <tr>
        <th scope="col">
          <mat-select>
            <mat-option *ngFor="let location of locations" [value]="location.Id">
              {{location.name}}
            </mat-option>
          </mat-select>
        </th>
        <th scope="col">
          <mat-select>
            <mat-option *ngFor="let location of locations" [value]="location.Id">
              {{location.name}}
            </mat-option>
          </mat-select>
        </th>
        <th scope="col">
          <mat-select>
            <mat-option *ngFor="let location of locations" [value]="location.Id">
              {{location.name}}
            </mat-option>
          </mat-select>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>
          <mat-select>
            <mat-option *ngFor="let umpire of umpires" [value]="umpire.Id">
              {{umpire.name}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <mat-select>
            <mat-option *ngFor="let umpire of umpires" [value]="umpire.Id">
              {{umpire.name}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <mat-select>
            <mat-option *ngFor="let umpire of umpires" [value]="umpire.Id">
              {{umpire.name}}
            </mat-option>
          </mat-select>
        </td>

    </tbody>
  </table>

</div>